@font-face {
    font-family: ralewayregular;
    src: url(fonts/fonts/Raleway-Regular.ttf);
}
@font-face {
    font-family: ralewayblack;
    src: url(fonts/fonts/Raleway-Black.ttf);
}
@font-face {
    font-family: ralewaybold;
    src: url(fonts/fonts/Raleway-Bold.ttf);
}
@font-face {
    font-family: ralewaymedium;
    src: url(fonts/fonts/Raleway-Medium.ttf);
}
@font-face {
    font-family: ralewaylight;
    src: url(fonts/fonts/Raleway-Light.ttf);
}
@font-face {
    font-family: raleway regular;
    src: url(fonts/fonts/Raleway-SemiBold.ttf);
}
@font-face {
    font-family: ralewaysemibold;
    src: url(fonts/fonts/Raleway-Regular.ttf);
}
@font-face {
    font-family: ralewayextrabold;
    src: url(fonts/fonts/Raleway-ExtraBold.ttf);
}
@font-face {
    font-family: ralewayblackitalic;
    src: url(fonts/fonts/Raleway-BlackItalic.ttf);
}
@font-face {
    font-family: ralewayextralight;
    src: url(fonts/fonts/Raleway-ExtraLight.ttf);
}
@font-face {
    font-family: ralewaysemibold;
    src: url(fonts/fonts/Raleway-SemiBold.ttf);
}
@font-face {
    font-family: ralewayblackitalic;
    src: url(fonts/fonts/Raleway-BlackItalic.ttf);
}
@font-face {
    font-family: ralewaymediumitalic;
    src: url(fonts/fonts/Raleway-MediumItalic.ttf);
}
@font-face {
    font-family: ralewaythin;
    src: url(fonts/fonts/Raleway-Thin.ttf);
}
/*colours*/
:root{
    --primary:#EEBF00;
    --secondary:#232B38;
    --tertiary:#6C6C6C;
    --danger:#FE4545;
    --pure:#FEFEFE;
    --light:#F0F0F0;
    --heaven:#FFFFFF;
    --footer:#2D333F;
}
/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.icon{
    width: 10px;
    height: 15px;
}
body{
-webkit-font-smoothing:antialiased;
font-family: "ralewayregular";
}
.container{
    width: 100%;
    padding: 0 100px;
    margin:0 auto ;
    justify-content: center;
   
}
header.topbar{
    background: var(--secondary);
    color: var(--pure);
    font-family:"ralewaysemibold";
    padding: 0.75rem 0;
}
header.topbar.auth > div a{
    color: var(--pure);
    text-decoration: none;
}
header.topbar.icon a{
    margin-right: 10px;
    
}
header.topbar.auth .divider{
    padding: 0 1rem;
}
header.topbar.auth >.divider img{
   margin-right: 0.35rem; 
}
header.topbar.container.auth{
    display: flex;
}
.flex{
    display: flex;
}
.justify-between{
    justify-content: space-between;
}
.item-center{
    text-align: center;
}
nav .top{
    padding: 1rem 0;
}
nav .top .contact h5{
font-family: "ralewayblack";
margin-bottom: 0.25rem;
}
nav .top .contact h6{
 font-family: "ralewaymedium";
letter-spacing: 0.055rem ;
    }
nav .top .time h5{
 font-family: "ralewayblack";
 margin-bottom: 0.25rem;
}
 nav .top .time h6{
 font-family: "ralewaymedium";
letter-spacing: 0.055rem ;
font-size: 0.75rem;
color: var(--tertiary);
 }
 nav .top .contact img,nav .top .time img{
     margin-right: 0.5rem;
     margin-top: 0.2rem;
     height: 2rem;
 }
 .justify-center{
     justify-content: center;
 }
 nav .navbar a{
     text-decoration: none;
     color: var(--secondary);
     font-family: "ralewaysemibold";
     font-size: 1rem;
     padding: 1rem 1.5rem ;
     transition: all,0.3s ease;
 }
 nav .navbar a.active{
     background-color: var(--primary);
     color: var(--pure);
 }
 nav .navbar a:hover{
    background-color: var(--primary);
    color: var(--pure);
}
.magic-shadow{
position: relative;
background: var(--heaven);
}
.magic-shadow:after{
    content: '';
    display: block;
    width: 100%;
    height: 69px;
    background-image: url(icons/icons/shadow.svg);
    background-position: center;
    bottom: -25px;
    position: absolute;
    background-repeat: no-repeat;
    z-index: -1;
   
}
.magic-shadow-sm{
    position: relative;
    background: var(--heaven);
    }
    .magic-shadow-sm:after{
        content: '';
        display: block;
        width: 100%;
        height: 69px;
        background-image: url(icons/icons/shadow-sm.svg);
        background-position: center;
        bottom:-25px;
        position: absolute;
        background-repeat: no-repeat;
        z-index: -1;
        left: 50%;
       transform: translateX(-50%);
    }
header.hero{
    height: 600px;
    background-image: url(images/images/hero.png);
    background-position: 0% 0%;
    background-repeat: no-repeat;
    overflow: hidden;
    margin-top: 90px;
    
}
header.hero .container{
    position: relative;
}
header.hero .welcome span{
    font-family: "ralewaybold";
    color: var(--secondary);
    margin-right: 0.55rem;
  margin-top: 10px;
}
header.hero h1{
    font-family: "ralewayextrabold";
    color: var(--secondary);
    font-size: 2.5rem;
    margin-bottom: 0.25rem;
}
header.hero h1 span{
    color:var(--primary)
}
header.hero p{
    font-family:"ralewaymedium" ;
    width: 50%;
    line-height: 1.5;
    margin-bottom: 1rem;
}
.btn{
   padding: 0.5rem 0.75rem; 
   border-radius: 4px;
   border: none;
   line-height: 0.8;
   font-size: 1.2rem;
   cursor: pointer;
   transition: all 0.3s ease;
   border: 1px solid transparent;
}

.btn-primary{
    background-color: var(--primary);
    color: var(--heaven);
}
.btn-secondary{
    background-color: var(--secondary);
    color: var(--heaven);
}
.btn-primary:hover{
    background-color: var(--heaven);
    color: var(--primary);
    border: 1px solid var(--primary);
}
.btn-secondary:hover{
    background-color: var(--heaven);
    color: var(--secondary);
    border: 1px solid var(--secondary);
}
header.hero button:first-child{
margin-right: 0.56rem;
}
header.hero .hero-image{
    position: absolute;
    top: 40px;
    right: 40px;
}
section{
    padding:4rem 0;
}
section.top-products{
    background:var(--light);
}

.section-heading{
    font-family:"ralewaybold";
    text-align:center;
    Position:relative;
    margin-bottom:6rem;
}
.section-heading:after{
    content:'';
    display:block;
    width: 100%;
    height:30px;
    background-image:url(/icons/icons/hr.svg);
    background-repeat: no-repeat;
    background-position: center;
    position:absolute;
    bottom:-40px;
}
section.top-products .food-slider .food-card{
    background:var(--heaven);
    padding:1.5rem 0;
    border-radius: 4px;
   
}
section.top-products .food-slider .food-card .product-image img{
    width:80%;
    height:200px;
    object-fit:contain;
    padding-bottom:1rem;
}
hr{
    border:1px solid var(--light);
    opacity: 0.8;
    margin:1rem 0;
}
section.top-products .food-slider .food-card h2{
    font-family:"ralewaybold";
    font-size:1.3rem;
    margin-bottom:0.25rem;
}
.text-center{
    text-align: center;
}
section.top-products .food-slider .food-card .stars{
    margin-bottom:0.5rem;
}
section.top-products .food-slider .food-card .stars img{
    margin-right:0.25rem;
}
section.top-products .food-slider .food-card .price{
    font-family:"ralewaymedium";
    color:var(--danger);
    margin-bottom: 1rem;
}
section.top-products .food-slider .food-card button{
    font-family:"ralewaymedium";
    color:var(--secondary);
    background:var(--heaven);
    border:2px solid var(--primary);
    border-radius: 4px;
    display:flex;
    cursor: pointer;
    transition:all .3s ease;
    align-items: center;
    width:50%;
    font-size:1rem;
   

}
section.top-products .food-slider .food-card button:hover{
    background:var(--primary);
    color:var(--heaven);
}
.food-slider .food-card button img{
    background:var(--primary);
    padding:0.50rem;
    height:32px;
    margin-right:1.2rem;
}

.slick-slide{
    margin:0 27px;
}
.slick-list{
    margin:0 -27px;
}
.top-products .slider-btn{
    width: 30px;
    height: 30px;
    border: none;
    background: var(--primary);
    border: radius 4px; ;
    cursor: pointer;
    outline: none;
    transition: all 0.01s ease;
}
.prev-btn{
    position:absolute;
    top: 46%;
    left: -3rem;
    z-index: 1;
}
.next-btn{
    position:absolute;
    top: 46%;
    right: -3rem;
    z-index: 1;
}
.top-products .slider{
position: relative;
}
.top-products .btn-wrapper{
    margin-top: 2rem;
}
  .slick-track{
    padding: 1rem 0;
  } 
  section.about-meal img{
      width: 85%;
  } 
  .flex-1{
      flex: 1;
  }  
  section.about-meal h2{
      font-family: "ralewaybold";
      font-size: 1.4rem;
      color: var(--secondary);
      margin-bottom: 2rem;
      line-height: 1.3;
  }
  section.about-meal p{
      line-height: 1.7;
      margin-bottom: 4rem;
  }

  section.our-services{
      background: var(--light);
      z-index: 0;
      position: relative;
  }
  section.our-services .service-card{
      background: var(--heaven);
      text-align: center;
      padding: 2rem;
      padding-top: 4rem;
      position: relative;
      border-radius: 4px;
      margin-right: 2rem;
  }
  section.our-services .card-wrapper{
      margin-right: -2rem;
      margin-top: 8rem;
  }
  section.our-services .service-card .icons{
      position: absolute;
      top: -45px;
      left: 50%;
      transform: translateX(-50%);
  }
  section.our-services .service-card h2{
      font-family: "raleway-bold";
      font-size: 1.3rem;
      margin-bottom: 1rem;
  }
  section.our-services .service-card p{
      line-height: 1.6;
      margin-bottom: 1rem;
  }
  .text-primary{
      color: var(--primary);
  }
  section.big-deal{
      background: linear-gradient(
          rgba(35, 43, 56, 0.9),
          rgba(35, 43, 56, 0.9)
      ),url(images/images/food-table.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-attachment: fixed;
  }
  section.big-deal .timer{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: -2rem;
      margin-bottom: 2rem;
  }
  section.big-deal .timer div{
    margin-right: 2rem;
    background: var(--primary);
    width: 150px;
    height: 150px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  section.big-deal .timer div span:first-child{
      font-family: "ralewaysemibold";
      font-size: 2.5rem;
      color: var(--heaven);
      margin-bottom: 0.05rem;
  }
  section.big-deal .timer div span:last-child{
      font-family: "ralewaymedium";
      color: var(--heaven);
  }
  .text-pure{
 color: var(--pure);
  }
  section.latest-news{
      background-color: var(--light);
      position:relative ;
      z-index: 0;
  }
  .latest-news .article-wrapper .card img{
      width: 100%;
  }
  .latest-news .article-wrapper .card{
      margin-right: 2rem;
      background: var(--heaven);
      border-radius: 4px;
  }
  section.latest-news .article-wrapper{
      display: flex;
      margin-right: -2rem;
  }
  section.latest-news .article-wrapper .card .card-content{
padding: 2rem;
  }
  section.latest-news .article-wrapper .card .card-content .post-meta{
      margin-bottom: 1rem ;
  }
  section.latest-news .article-wrapper .card .card-content .post-meta .comment-count{
      margin-left: 1rem;
  }
  section.latest-news .article-wrapper .card .card-content h2{
      font-family: "ralewaybold";
      font-size: 1.3rem;
      margin-bottom: 1rem;
  }
  section.latest-news .article-wrapper .card .card-content p{
      line-height: 1.6;
  }
  .latest-news .btn-wrapper{
      margin-top: 2rem;
  }
  section.subscribe{
      background: var(--primary);
  }
  section.subscribe .container >div:first-child img{
      width: 90% ;
  }
  section.subscribe .container >div:first-child {
      flex: 1;
  }
  section.subscribe .container >div:last-child {
    flex: 1;
}
section.subscribe .container >div.second-child{
    margin-top: 100px;
}
section.subscribe h1{
    font-family: "ralewaybold";
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}
section.subscribe p{
    font-family: "ralewaymedium";
    font-size: 1rem;
    margin-bottom: 1.5rem;
    line-height: 1.5;
}
section.subscribe .input-wrapper{
    background: var(--heaven);
    display: flex;
    padding: 0.3rem;
    border-radius:4px ;
}
section.subscribe .input-wrapper input{
    width: 100%;
    border: none;
    padding: 0 1rem;
    font-size: 1rem;
}
section.subscribe .input-wrapper input:focus{
    outline: none;
}
section.subscribe .input-wrapper button{
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 4px;
    background: var(--primary);
    color: var(--pure);
    font-size: 1rem ;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
}
section.subscribe .input-wrapper button:hover{
background: var(--secondary);
}
section.contact-us{
padding-top: 0;
padding-bottom: 0;
}
section.contact-us .contact-info-wrapper{
 padding: 4rem 0;
 flex:1;
}
section.contact-us .contact-info{
display: flex;
justify-content: center;
 flex-direction: column;
 align-items: center;
 }
 section.contact-us .map{
     flex: 1;
     filter: grayscale(100%);
 }  
 section.contact-us .contact-info > div >div{
display: flex;
align-items: center;
margin-bottom: 2rem;
 }
 section.contact-us .contact-info > div >div img{
     margin-right: 1rem;
 }
 section.contact-us .contact-info > div >div>div{
     display: flex;
    flex-direction: column;
 }
 section.contact-us .contact-info > div >div>div span:first-child{
     font-family: "ralewaybold";
     margin-bottom: 1rem;
 }
 footer{
     background: var(--footer);
     padding: 4rem;
 }
 footer .container{
    display: flex; 
   color: var(--pure);
 }
 footer .box{
     flex: 1;
     margin-right: 2rem;
     text-align: center;
 }
 footer .instagram-api img{
     width: 100%;
     height: 100%;
     object-fit: cover;
 }
 footer .instagram-api .post-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 }
 footer .instagram-api .post-wrapper>div{
     width:calc(1/3*100% - (1 - 1/3)*3%) ;
     margin-bottom: 8px;
 }
 footer .box ul{
     list-style-type: none;
 }
 footer .box ul a{
     color: var(--pure);
     text-decoration: none;
     transition: all 0.3s ease ;
 }
 footer .box ul a:hover{
     color: var(--primary);
 }
 footer .box h3{
border-bottom: 1px solid var(--primary);
padding-bottom: 1rem;
margin-bottom: 1rem;
 }
 footer .box p{
     line-height: 1.6;
     margin-bottom: 1rem;
 }
 footer .box ul li{
     margin-bottom: 1rem;
 }
 footer .box:nth-child(3) div{
     justify-content: center;
 }
 footer .box:nth-child(3){
     text-align: left;
 }
 footer .box:nth-child(3) h3{
     text-align: center;
 }
 footer .box:nth-child(3) div img{
     margin-right: 2rem ;
 }
 footer .box:nth-child(3) div li{
margin-bottom: 1.5;
 }
 footer.copyright {
     padding: 1rem 0;
     background: var(--secondary);
     color: var(--pure);
     text-align: center;
     font-size: 0.75rem;
 }
 footer.copyright div a{
     color: var(--primary);
     text-decoration: none;
 }
